.App {
  text-align: center;
  min-height: 100vh;
  height: fit-content;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  gap: 10vmin;
  font-size: calc(10px + 2vmin);
  color: white;
  overflow-y: auto;
}